// --- Begin Modernizr ---

/* uncss:ignore */
body {
  .cssgradients {
    background-image: linear-gradient(top, #555555, #333333);
  }

  .no-cssgradients {
    background: red;
  }
}

// --- End Modernizr ---

body {
  // TODO: Decide where to put images that are referenced this way
  background-image: image-url('images/test.jpg');
}

// Begin used selectors --> Will be left after UnCSS task

h1 {
  font-size: 5rem;
}

// End used selectors

// Begin unused selectors --> Will be gone after UnCSS task

#unused-id {
  background-color: red;
}

.unused-class {
  background-color: red;
}

// End unused selectors
