<!doctype html>
<html lang="en" class="no-js">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <title>{%=o.htmlWebpackPlugin.options.config.title%}</title>
  <link rel="stylesheet" type="text/css" href="{%=o.htmlWebpackPlugin.options.css.common%}">
  <link rel="stylesheet" type="text/css" href="{%=o.htmlWebpackPlugin.options.css.bundle%}">
</head>
<body>
  <h1>{%=o.htmlWebpackPlugin.options.config.title%}</h1>
  <script type="text/javascript" src="{%=o.htmlWebpackPlugin.options.js.common%}"></script>
  <script type="text/javascript" src="{%=o.htmlWebpackPlugin.options.js.bundle%}"></script>
</body>
</html>
