body {
  background: #66ffcc;

  /*

  Triggers colorguard task error

  background-color: #6fe;

  */

  #unused-id {
    background-color: red;
  }

  .unused-class {
    background-color: red;
  }
}
